:root {
    --green: #172517;
    --grey: #686868;
}
body{
    background-color: #2d2e2d;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 50px;
    padding: 20px;
}

.head{
    text-align: center;
    margin-top: 25px;
}

.head h3{
    color: beige;
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: serif;
    font-weight: lighter;
}

.au1 p{
    font-size: 20px;
    color: beige;
    font-family: serif;
    font-weight: lighter;
    padding: 25px;
    width: 500px;
}

.au1 h2{
    font-size: 40px;
    color: beige;
    font-family: serif;
    font-weight: lighter;
}

.au2 p{
    font-size: 20px;
    color: beige;
    font-family: serif;
    font-weight: lighter;
    padding: 25px;
    width: 500px;
}

.au3 img{
    flex: 0 50%;
    max-width: 35%;
    height: auto;
    margin-left: 10%;
}

.au4 img{
    flex: 0 50%;
    max-width: 35%;
    height: auto;
}
























footer {
    background-color: rgb(221, 209, 195);
    margin: 0;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    font-size: 100%;
    color: var(--grey);

}


footer a {
    color: var(--grey);
    text-transform: uppercase;

}


.leftfooter {
    display: flex;
    justify-content: flex-start;
}

.mainfooter {
    display: flex;
    justify-content: center;
}











.logopic {
    mix-blend-mode: multiply;
    ;
}