*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(pictures/pexels-kristina-nor-3294254.jpg);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 60px;
    font-weight: 500;
    color: white;
}

.contact .content p{
    font-weight: 300;
    color: white;
    font-size: 20px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50vh;
    padding: 40px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), transparent;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    height: 100%;
}
.container .contactInfo h2{
    font-size: 30px;
    color: rgb(6, 81, 6);
    font-weight: 500;
    text-align: left;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    background: none;
    color: green;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    font-weight: 500;
    font-size: 16px;
    color: black;
    flex-direction: column;

}
.container .contactInfo .box .text h3{
    font-weight: 550;
    color:green;
    margin-bottom: 10%;
}

.contactForm{
    width:40%;
    padding: 40px;
    height: fit-content;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), transparent;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
}

.contactForm h2{
    font-size: 30px;
    color: rgb(6, 81, 6);
    font-weight: 500;
    text-align: left;
}

.contactForm .input{
    display: flex;
    flex-direction: column;
}

.contactForm .input input , textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #f0f0f0;
    font-size: 16px;
    margin: 10px 0;
}

.contactForm .input input:hover,
.contactForm .input textarea:hover {
    border-color: rgba(139, 0, 0, 0.7);
}

button{
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(2, 92, 2);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    height: 40px;
    margin-top: 3%;
}
button:hover{
        transform: scale(1.02); 
        transition: transform 0.3s ease;  
        box-shadow: 0 0 10px rgba(139, 0, 0, 0.7);
}

.input input:focus{
    outline: 0;
}

.input.success input{
    border-color: green;
}

.contactForm .input.success textarea {
    border-color: green;
}

.input.error input,
.input.error textarea{
    border-color: red;
}

.input .error{
    color: red;
    font-size: 14px;
    font-family: serif;
    padding-left: 5%;
}
.input.error .input-textarea {
    padding-left: 5%;
}

