:root {
    --green: #223222;
    --brown: #987d67;
    --beige: #cdbcac;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}


body {
    position: relative;
    height: 100%;
    background-color: var(--green);
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}

section h2 {
    text-transform: uppercase;
    text-align: flex-strat;
    text-decoration: none;
    font-size: 20px;
    color: var(--brown);
    padding-bottom: 15px;

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
}



main {
    background-color: var(--beige);
    margin: 50px;

}

main img {

    height: 200px;
    width: auto;
    margin-bottom: 15px;
}

.bestseller {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    gap: 1px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}



.gifts {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    text-align: center;
    padding: 40px;
}

.box {
    width: 200px;
    height: 280px;
    border: 1px solid, ;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 10px;
    cursor: pointer;
}

.box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    margin-top: 30px;
    color: transparent;
    -webkit-text-stroke: 1px var(--green);
    background: url(pictures/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}


main h2 {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    color: var(--brown);
    padding-top: 35px;
}


h4 {
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--brown);
    transition: all .50s ease;
}

h4:hover {
    color: var(--green);
    cursor: pointer;
}


h5 {
    color: var(--green);
    font-size: 12px;
    font-weight: 600;
}



.top {
    position: absolute;
    top: 30px;
    height: 20px;
    width: 65px;
    border-radius: 3px;
    color: var(--brown);
    background-color: var(--green);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box .bbtn a {
    position: relative;
    bottom: 65px;
    left: 0;
    right: 0;
    padding: 13px;
    background-color: rgb(0, 0, 0, 0.8);
    color: var(--brown);
    transition: opacity 0.5s;
    opacity: 0;
    text-decoration: none;


}

.box:hover .bbtn a {
    opacity: 1;
}




footer {
    background-color: var(--beige);
    margin: 50px;
    padding: 3% 10%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 100%;
    color: var(--brown);
}

footer a {
    color: var(--brown);
    text-transform: uppercase;
}


a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--green);
}



.leftfooter {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

}

.mainfooter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.rightfooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;


}

.logopic img {
    mix-blend-mode: multiply;
    height: 50px;
}


.rightfooter .faicons {
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    justify-content: space-between;
    margin-top: 2px;
    cursor: pointer;
    transition: all .50s ease;

}



.faicons i:hover {
    transform: translateY(-4px);
}


.rightfooter h2 {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 35px;

}