* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pictures/background2.jpeg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

.container {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: fit-content;
    border-radius: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), transparent;
    color: black;
    padding: 30px 40px;
    text-align: center;
}

.container .forma h1 {
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
    font-family: serif;
}

.container .forma .inputi {
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 20px 0;
}

.container .inputi input {
    width: 100%;
    margin: auto;
    height: 100%;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    font-family: serif;
}

.container .forma .forgot-remember {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -10px 0 10px;
}

.container .forma .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(2, 92, 2);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    height: 40px;
    margin-top: 3%;
}

.container .forma .register {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {      
  .container{
      width:700px;
      height:fit-content;
      
  }
  .container .forma h1{
      font-size: 60px;
      padding-top:5%;
  }
  .container .forma .inputi{
      width: 100%;
      height: 100px;
      margin: 70px 0;
  }
  .container .inputi input {
      font-size: 35px;
      width: 100%; 
      padding-left: 5%;
  }
  .container .forma .forgot-remember{
      display: flex;
      justify-content: space-between;
      font-size: 30px;
      margin: -15px 0 15px;
      margin-top: 5px;
  }
  
  .container .forma .btn{
      width: fit-content;
      height: 90px;
      font-size:27px
  }
  .container .forma .register {
      font-size: 27px;
  }
.container .forma .terms{
    font-size:25px;
}
input[type="checkbox"] {
    transform: scale(2);  
}

}